.wrapper {
  align-items: center;
  background: #373737;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  padding: 0 16px;
  position: fixed;
  right: 0;
  top: 0;
}

.popup {
  background: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0 0 48px rgba(0, 0, 0, 0.04), 0 8px 24px rgba(0, 0, 0, 0.08);
  height: 480px;
  width: 352px;
}

.title {
  color: #171A1F;
  font-size: 17px;
  font-weight: 700;
  letter-spacing: -.41px;
  line-height: 24px;
  padding: 12px 16px;
}
